name: CGL
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  cgl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # Prepare environment
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          # We use the minimum supported PHP version
          php-version: 8.2
          tools: composer:v2, cs2pr
          coverage: none

      # Validation
      - name: Validate composer.json
        run: composer validate --strict

      # Install dependencies
      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3

      # Analyze
      - name: Analyze dependencies
        run: composer analyze:dependencies

      # Linting
      - name: Lint composer.json
        run: composer lint:composer
      - name: Lint Editorconfig
        run: composer lint:editorconfig
      - name: Lint PHP
        run: composer lint:php -- --format checkstyle | cs2pr

      # Migration
      - name: Run Rector migration
        run: composer migration:rector -- --dry-run

      # SCA
      - name: SCA PHP
        run: composer sca:php -- --error-format github

      # Documentation
      - name: Check documentation build
        run: |
          mkdir -p .Build/docs
          composer docs:build -- --no-progress --fail-on-log

      # Bundler
      - name: Validate bundler config
        run: composer validate-bundler-config
      - name: Check dependency extraction for TER vendor libraries
        run: composer extract-dependencies --print-file-contents --fail
